# URL do modelo Keras baixado no startup da API
MODEL_URL=https://huggingface.co/uiltong1/generos-musicais-cnn/resolve/main/modelo_generos_musicais.keras

# URL do JSON de configuração (labels e normalização) baixado no startup
CONFIG_URL=https://huggingface.co/uiltong1/generos-musicais-cnn/resolve/main/config_modelo.json
